<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1><a href="/">CougarZone</a></h1>
        <nav>
        </nav>
    </header>
    
    <main>
        <h2>Log In Here:</h2>
        
    </main>

    <footer>
        <p>&copy; 2025 CougarZone. All rights reserved.</p> 
    </footer>
</body>
</html>