<h1>Login</h1>

<form id="loginForm">
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>

<!-- MUST HAVE type="module" -->
<script type="module" src="/js/login.js"></script>
