name: Deploy to Firebase

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Install dependencies
        run: npm install

      - name: Run Pre-Deployment Check
        run: |
          echo "Pre-deployment test passed."

    outputs:
      test-status: ${{ job.status }}

  deploy:
    needs: test
    if: needs.test.outputs.test-status == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy notification
        run: |
          echo "All checks passed."
          echo "Deploying..."

      - name: Setup Firebase
        run: npm install -g firebase-tools
